*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #14023f;
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: #3f1c91;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    
}
nav ul li a{
    color: white;
    text-decoration: none;
    transition: 0.4s;
}
nav ul li a:hover{
    color: rgb(243, 163, 240);
    font-size: 1.04rem;
}
.left{
    font-size: 2.5rem;
}
.first-section{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}
.first-section >div{
    width: 32%;
}
.left-section{
    margin: 89px 0px;
    font-size: 2.4rem;
}
.right-section img{
    width: 85%;
    margin: 28px 0px;
}
.purple{
    color: rgb(196, 138, 250);
}
#element{
    color: rgb(196, 138, 250);
}
.second-section{
    width: 80vw;
    margin: auto;
}

main hr{
    border: 0;
    width: 4vw;
    margin: auto;
    border-top: dotted 10px rgb(117, 97, 131);
    margin-top: 30px;
    margin-bottom: 30px;
}
.grey{
    color: grey;
}
.second-section .box{
    width: 100%;
    height: 1px;
    margin: 70px 0px;
    background-color: white;
    display: flex;
    
}
nav .left img{
           height: 17vw;
    width: 18vw;
    margin-top: 13px;
    margin-right: 34vw;
}
.box .vertical{
    width: 2px;
    height: 40px;
    background-color: white;
    margin: 0px 80px;
}

.vertical .image-top{
    position: relative;
    width: 36px;
    top: -46px;
    left: -17px;
}
.vertical .css {
    top: -60px;
}
.vertical span{
    position: relative;
    left: -15px;
}
.vertical .csst{
    position: relative;
    top: -22px;
}
footer{
    margin-top: 20vw;
    background-color: #0e0927;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer {
    display: flex;
    width: 10.5vw;
    margin: auto;
    align-items: center;
    height: 106px;
    gap: 33px;
}

footer h3{
    display: flex;
    justify-content: center;
    padding-top: 23px;
}


@media screen and (min-width: 320px) and (max-width: 428px) {
  nav{
    width: 199vw;
  }
nav .right{
    display:none;
  }
  
  section .right-section img{
    position: relative;
    left: 186px;
    top: 100px;
    width: 59vw;
  }
  header nav .left img{
    margin-right: 0px;
    margin-top: 0px;
  }
  .second-section .box{
    width: 153vw;
  }
  main hr{
    width: 17vw;
    margin-left: 89vw;
  }
}